.dohod {
    text-align: center;
    border-bottom: dashed 3px #7a7b7e;
    padding: 50px 35px;
}

.form {
    font-size: 24px;
    padding: 0px 270px 50px;
    font-style: italic;
}

.for {
    padding: 15px 40px;
    background-color: #ff621f;
    font-size: 36px;
    color: #fff;
    font-weight: bold;
    display: inline-block;
}

.money {
    font-size: 30px;
    padding: 35px 135px 0px;
}